# Ignore OpenDCExperimentRunner build/executable
/OpenDCExperimentRunner/

# Ignore Python virtual environment
/myenv/

# macOS system files
.DS_Store

# Byte-compiled Python files
*.pyc
__pycache__/

# Logs
*.log

# Optional: temporary or backup files
*.swp
*~

# Gradle build folders
**/build/

output

# ignore input synthetic traces as these should be re-generated as needed
input/synthetic_traces